{% extends 'home.html' %}

{% load static %}

{% block title %} {{article.heading}}} {% endblock %}

{% block content %}

<p>Title: {{article.heading}}</p>
<p><img src="{{article.image.url}}"></p>
<p>Views: {{article.views}}</p>
<p>Author: {{article.author}}</p>
<p>Date creation: {{article.date | date:" d N Y"}}</p>

<p>Text: {{article.text | safe}}</p>

<h1>Comments</h1>
<form method="post" action="">
    {% csrf_token %}

    <p>
        {{comment_form.text}}
        <input type="submit" value="Add Comment" class = ""/>
        <input type="hidden" name="next" value="" />
    </p>

</form>


{% for comment in comments%}
<p>Author: {{comment.author}}</p>
<p>Text: {{comment.text}}</p>
<p>Date: {{comment.date | date:'d N Y'}}</p>
<p>########</p>

{% endfor %}



{% endblock %}