{% extends 'home.html' %}

{% load static %}

{% block title %} Forum {% endblock %}

{% block content %}
    <section class="forum-intro-section halfscreen">
        <div class="forum">
            <div class="forum-intro">
                <div class="forum-intro-flexbox">
                    <div class="forum-intro-textbox">
                        <h1>Форум</h1>
                       <!-- <p>share your thoughts with us</p>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="forum-body-section">
        <div class="forum-body">
            <div class="container">
                <div class="forum-da-container">
                    <div class="top-tag-da">

                    </div>
                </div>
                <div class="forum-body-inner">
                    <div class="right-forum-side">

                        {% for article in articles%}
                        <div class="right-forum-sidebar-unit">
                            <div class="forum-unit-info">
                                <div class="forum-unit-tags">
                                    {% for tag in article.tags.all %}
                                    <a href="/forum/1tag={{tag.tag}}">#{{tag.tag}}</a>
                                    {% endfor %}
                                </div>
                                <ul class="forum-unit-meta">
                                    <li> <a href="#">{{article.author}}</a> <i class="lnr lnr-user"></i></li>
                                    <li> {{article.date|date:"d N Y" }} <i class="lnr lnr-calendar-full"></i></li>
                                    <li> {{article.views}} <i class="lnr lnr-eye"></i></li>
                                    <li> <a href="#">Comments</a> <i class="lnr lnr-bubble"></i></li>
                                </ul>
                            </div>
                            <div class="forum-unit-post">
                                <div class="forum-unit-post-img-background">
                                    <div class="forum-unit-post-img-blurBackground-box">
                                        <img class="forum-unit-post-img-blurBackground" src="">
                                    </div>
                                    <img class="forum-unit-post-img blur-img-background" src="{{article.image.url}}" alt="">
                                </div>
                                <div class="im-casefor-post-info">
                                    <span> <a href="#">{{article.author}}</a> <i class="lnr lnr-user"></i></span>
                                    <span> {{article.date|date:"d N Y" }} <i class="lnr lnr-calendar-full"></i></span>
                                    <span> {{article.views}} <i class="lnr lnr-eye"></i></span>
                                </div>
                                <div class="forum-unit-about-post">
                                    <h2> {{article.heading}}</h2>
                                    <p> {{article.text | safe}} </p>
                                    <div class="im-casefor-tags">
                                        <div class="forum-unit-tags">
                                            {% for tag in article.tags.all %}
                                            <a href="/forum/1tag={{tag.tag}}">#{{tag.tag}}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="forum-unit-post-for-comment">
                                    <a class="forum-unit-post-vm-button" href="/forum/articles{{article.id}}/">VIEW MORE</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="left-forum-side">
                        <form data-da="forum-da-container,first,990" method="post" class="search-forums">
                            {%csrf_token%}
                            {{search_form.search}}
                            <button type="submit" class="forum-submit-button">
                                <a><i class="lnr lnr-magnifier" style="font-weight: 800;"></i></a>
                            </button>
                        </form>
                        <div class="hr"></div>

                        <div data-da="forum-da-container-popular-post, first, 990" class="todays-top-forum">
                            <h3>Popular Posts</h3>
                            <div class="popular-posts-block">
                                {% for article in most_popular_articles %}
                                <div class="popular-post">
                                    <div class="img-box-popular-post">
                                        <div class="popular-post-img-blurBackground-box">
                                            <img class="popular-post-img-blurBackground" src="">
                                        </div>
                                        <img class="popular-post-img blur-img-background" src="{{article.image.url}}" alt="">
                                    </div>
                                    <div class="smthg-about-popular-post">
                                        <div class="smthg-about-popular-post-heading-box">
                                            <h4>{{article.heading}}</h4>
                                        </div>
                                        <p>{{article.date}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="hr"></div>

                        <a href="#">
                            <div class="add">
                                <img src="{% static 'img/add.jpg' %}">
                            </div>
                        </a>
                        <div class="hr"></div>

                        <div class="todays-top-tag">
                            <h3 data-da="popular-tags-block,first,990">Most Popular Tag</h3>
                            <div data-da="top-tag-da,1,990"onload="" class="popular-tags-block">
                                {% for tag in tags %}
                                <a href="/forum/1tag={{tag.tag}}" style="text-decoration: none;"><p class="popular-tag">#{{tag.tag}}</p></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="forum-da-container-popular-post">

                </div>
                <div class="pages">
                    {% if num_2 == 0 %}
                        <a class="im-numberof-page previous-page inactive"><span class="lnr lnr-chevron-left"></span></a>
                    {% else %}
                        <a href="/forum/{{num_2}}tag={{tag_name}}" class="im-numberof-page previous-page"><span class="lnr lnr-chevron-left"></span></a>
                    {% endif %}
                    {% for i in count %}
                    <!--<a href="/forum/{{i}}tag={{tag_name}}" class="im-numberof-page">{{i}}</a>-->
                        {% if num == i %}
                            <a href="/forum/{{i}}tag={{tag_name}}" class="im-numberof-page active">0{{i}}</a>
                        {% else %}
                            <a href="/forum/{{i}}tag={{tag_name}}" class="im-numberof-page">0{{i}}</a>
                        {% endif %}
                    {% endfor %}
                    {% if num == len_count %}
                    <a class="im-numberof-page next-page inactive"><span class="lnr lnr-chevron-right"></span></a>
                    {% else %}
                    <a href="/forum/{{num_1}}tag={{tag_name}}"  class="im-numberof-page next-page"><span class="lnr lnr-chevron-right"></span></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
