{% extends 'home.html' %}

{% load static %}

{% block title %} Forum {% endblock %}

{% block content %}
    <section class="forum-intro-section halfscreen">
        <div class="mouse-parallax">
            <div class="mouse-parallax-bg"></div>
            <div class="forum-intro">
                <div class="forum-intro-flexbox">
                    <div class="forum-intro-textbox">
                        <h1>Forum</h1>
                        <p>Share your thoughts with us</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="forum-body-section">
        <div class="forum-body">
            <div class="container">
                <div class="forum-body-inner">
                    <div class="right-forum-side">
                        {% for i in articles%}
                        <div class="right-forum-sidebar-unit">
                            <div class="forum-unit-info">
                                <div class="forum-unit-tags">
                                    Tag, tag, tag, tag, tag,tag, tag
                                </div>
                                <ul class="forum-unit-meta">
                                    <li> <a href="#">{{i.author}}</a> <i class="lnr lnr-user"></i></li>
                                    <li> {{i.date|date:"d N Y" }} <i class="lnr lnr-calendar-full"></i></li>
                                    <li> {{i.views}} <i class="lnr lnr-eye"></i></li>
                                    <li> <a href="#">Comments</a> <i class="lnr lnr-bubble"></i></li>
                                </ul>
                            </div>
                            <div class="forum-unit-post">
                                <div class="forum-unit-post-img-background">
                                    <div class="forum-unit-post-img-blurBackground-box">
                                        <img class="forum-unit-post-img-blurBackground" src="">
                                    </div>
                                    <img class="forum-unit-post-img" src="{{i.image.url}}" alt="">
                                </div>
                                <div class="forum-unit-about-post">
                                    <h2> {{i.heading}}</h2>
                                    <p> {{i.text | safe}} </p>
                                </div>
                                <div class="forum-unit-post-for-comment">
                                    <a class="forum-unit-post-vm-button" href="/articles{{i.id}}/">VIEW MORE</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="right-forum-sidebar-unit">
                            <div class="forum-unit-info">
                                <div class="forum-unit-tags">
                                    Tag, tag, tag, tag, tag,tag, tag
                                </div>
                                <ul class="forum-unit-meta">
                                    <li> <a href="#">Author</a> <i class="lnr lnr-user"></i></li>
                                    <li> Date <i class="lnr lnr-calendar-full"></i></li>
                                    <li> Views <i class="lnr lnr-eye"></i></li>
                                    <li> <a href="#">Comments</a> <i class="lnr lnr-bubble"></i></li>
                                </ul>
                            </div>
                            <div class="forum-unit-post">
                                <div class="forum-unit-post-img-background">
                                    <div class="forum-unit-post-img-blurBackground-box">
                                        <img class="forum-unit-post-img-blurBackground" src="">
                                    </div>
                                    <img class="forum-unit-post-img" src="{% static 'img/test-photo-2.jpg'%}" alt="">
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="left-forum-side">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
