{% extends 'home.html' %}

{% load static %}

<!--{% block title %}Profile{% endblock %}-->

{% block content %}

<section class="profile-section">
    <div class="profile">
        <div class="profile-inner">
            <div class="profile-right-sidebar">
                <div class="about-account-2">
                    <div class="profile-publications-comments">
                        <p class="active" onclick="profileHideActive(event)">Публикации <span style="color:#ffba00">1</span></p>
                        <p class="" onclick="profileHideActive(event)">Отзывы <span style="color:#ffba00">23</span></p>
                    </div>
                </div>
                <div class="profile-publications">
                    {% for article in my_articles %}
                    <div class="profile-publication-container">
                        <div class="profile-publication-img-container">
                            <div class="publication-blurImg-container">
                                <img class="publication-blur-img" src="">
                            </div>
                            <img class="profile-publication-img blur-img-background" src="{{article.image.url}}" alt="" style="height: 100%; width: auto;">
                        </div>
                        <div class="about-profile-publication">
                            <a href="">{{article.author}}<i class="lnr lnr-user"></i></a>
                            <p>{{article.date|date:" d M Y"}}<i class="lnr lnr-calendar-full"></i></p>
                            <p>{{article.views}}<i class="lnr lnr-eye"></i></p>
                        </div>
                        <div class="profile-publication-text">
                            <h2>{{article.heading}}</h2>
                            <p>{{article.text | safe}}</p>
                        </div>
                        <div class="profile-publication-button-container">
                            <a class="profile-publication-button" href="/forum/articles{{article.id}}/">VIEW MORE</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="profile-left-sidebar">
                <div class="profile-img-container">
                    <img src="{{profile.face_image.url}}" class="profile-img">
                </div>
                <div class="account-name">
                    <p class="profile-first-last-name">
                        {% if profile.online %}
                        <span class="profile-user-active"></span>
                        {% else %}
                        <span class="profile-user-inactive"></span>
                        {% endif %}
                        <span></span>
                        {{user.first_name}} {{user.last_name}}
                    </p>
                    <p class="profile-username">{{user.username}}</p>
                </div>
                <div class="about-account">
                    <div class="about-me">
                        <p class="about-account-unit">О себе <!--<span class="lnr lnr-pencil lnr-pencil-about-account" onclick="showTextarea(event)"></span>--></p>
                        <p class="about-account-text">{% if profile.about_myself %}{{profile.about_myself}}{%else%}Вы ничего не рассказали о себе{%endif%}</p>
                    </div>
                    <div class="about-me-container">
                        <p class="about-account-unit">Успешные заказы <!--<span class="lnr lnr-pencil lnr-pencil-about-account" onclick="showTextarea(event)"></span>--></p>
                        <p class="about-account-text">0</p>
                    </div>
                    <div class="about-me-container">
                        <p class="about-account-unit">Рейтинг <!--<span class="lnr lnr-pencil lnr-pencil-about-account" onclick="showTextarea(event)"></span>--></p>
                        <p class="about-account-text">0</p>
                    </div>
                    <div class="about-me-container">
                        <p class="about-account-unit">Активность <!--<span class="lnr lnr-pencil lnr-pencil-about-account" onclick="showTextarea(event)"></span>--></p>
                        <p class="about-account-text">{% if profile.last_seen %}{{ profile.last_seen|timesince }}{% else %}A while{% endif %} ago</p>
                    </div>
                    <div class="about-me-container">
                        <p class="about-account-unit">Дата регистрации <!--<span class="lnr lnr-pencil lnr-pencil-about-account" onclick="showTextarea(event)"></span>--></p>
                        <p class="about-account-text">{{profile.date_registration | date:" d M Y"}}</p>
                    </div>
                    <div class="connection-with-me">
                        <p class="about-account-unit">Связь cо мной<!--<span class="lnr lnr-pencil lnr-pencil-about-account" onclick="showTextarea(event)"></span>--></p>
                        <div class="profile-connection-with-me-container">
                            <a href="{{profile.facebook_link}}"><i class="fa fa-profile fa-facebook-square" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-profile fa-odnoklassniki-square" aria-hidden="true"></i></a>
                            <a href="{{profile.telegram_link}}"><i class="fa fa-profile fa-telegram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-profile fa-twitter" aria-hidden="true"></i></a>
                            <a href="{{profile.vk_link}}"><i class="fa fa-profile fa-vk" aria-hidden="true"></i></a>
                            <a href="{{profile.whatsapp_link}}"><i class="fa fa-profile fa-whatsapp" aria-hidden="true"></i></a>
                            <a href="{{profile.instagram_link}}"><i class="fa fa-profile fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-profile fa-envelope" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="account-buttons">

                </div>
            </div>
        </div>
    </div>
</section>
<form method="post" enctype='multipart/form-data'>
    {%csrf_token%}
    {% if profile_form.errors %}
    <p>Something went wrong</p>
    {% endif %}

    {%if profile.birth_date != NULL %}
    <p>{{profile.birth_date}}<button>Change</button></p>
    {%else%}
    <p>{{profile_form.birth_date}}</p>
    {%endif%}

    {% if profile.about_myself %}
    <p>{{profile.about_myself}}<button>Change</button></p>
    {% else %}
    <p>{{profile_form.about_myself}}</p>
    {% endif %}
    <p><input type="submit" value="SUBMIT" class = "contactButton"></p>
</form>
<p>
    <a href="/profile/logout/">LOGOUT</a>
    {% if user.is_superuser %}<a href="/admin/">ADMIN</a>{% endif %}
</p>
{% endblock %}
