{% extends 'home.html' %}
{% load static %}

{% block title %}Registration{% endblock %}

{% block content %}
<section class="registration-section">
    <div class="registration">
        <div class="registration-inner">
            <div class="registration-area">
                <div class="registration-form-container">
                    <h2>Регистрация</h2>
                    <form action="" method="post" class="registration-form">
                        {% csrf_token %}
                        {% for form in registration_form %}
                        {% if form.errors and form == registration_form.username%}
                        <p class="registration-error">Это имя пользователя уже занято. Попробуйте что-то другое</p>
                        {% elif form.errors and form == registration_form.password2%}
                        <p class="registration-error">Ваши пароли не совпадают, либо ваш пароль слишком простой и совпадает с вашой почтой. Попробуйте ввести его еще раз</p>
                        {% endif %}
                        {{form}}
                        {% endfor %}
                        <button type="submit" class="registration-button">Зарегестрироваться</button>
                    </form>
                </div>
            </div>
            <img src="{% static 'img/registration.jpg' %}" alt="" class="registration-img">
            <div class="registration-img-panel">
                <div class="registration-img-panel-inner">
                    <h2>Уже есть аккаунт?</h2>
                    <a href="/profile/login/">Войти</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}