*,*:before,*:after {box-sizing: border-box;}
h1 , h2 , h3 , h4 , h5 , h6 , p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa';
/*    font-family: 'Inter', sans-serif;;*/
    color: #222222;
    font-weight: 500;
    line-height: 1;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #777777;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 15px 0 15px;
}





/*====================== header start ===================*/




.header {
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 80px;
}

.header-inner {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo-title {
    height: 100%;
    color: black;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    padding: 0 0 0 20px;
    letter-spacing: 2px;
}

.header-logo {
    display: flex;
    position: relative;
    height: 50px;
    margin: 0 0 0 45px;
}

.logo {
    position: relative;
    width: 50px;
    height: 50xp
}

.nav-list {
    transition: 0.5s;
}

.nav-item {
    list-style-type: none;
    display: inline;
    margin-right: 35px;
}

.nav-link {
    font-size: 12px;
    font-weight: 600;
    color: #222222;
    text-decoration: none;
    border: 7px solid white;
    border-radius: 5px;
    background: white;
    transition: 0.5s;
}

.nav-link:hover {
    background: #ffba00;
    color: white;
    border: 7px solid #ffba00;
}

.sticky-wrapper {
    z-index: 99;
    position: absolute;
    top: 40px;
    width: 100%;
    transition: 0.5s;
}

.nav-list-hamburger {
    padding: 0;
    width: 100%;
    position: fixed;
    display: none;
    margin: 0;

    box-shadow: 0 25px 25px rgba(204, 204, 204, 0.3);
    background-color: white;
    transition: 0.5s;
}

.nav-item-hamburger {
    margin: 0 0 0 126px;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 40px;

    list-style-type: none;
}

/*==START== Animation for header menu button*/

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
}
.ham1 .top {
    stroke-dasharray: 40 139;
}
.ham1 .bottom {
    stroke-dasharray: 40 180;
}
.ham1.active .top {
    stroke-dashoffset: -98px;
}
.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

.hamburger-button {
    display: none;
    margin-right: 5px;
}

.active-hamburger {
    display: none;
}

/*==END== Animation for header menu button*/


.nav-link-hamburger {
    font-size: 12px;
    font-weight: 600;
    color: #222222;
    text-decoration: none;
}



/*====================== header end ===================*/

/*====================== product section start ===================*/



.product-section {
    width: 100%;
}

.product {
    width: 100%;
    height: 100%;
}

.product-inner {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    height: 100%;
}

.product-flex-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.product-img-container {
    position: relative;
    height: 200px;
    background-color: black;
    width: 250px;
    margin: 10px;
    overflow: hidden;
    transition: 0.5s;
}

@media(min-width: 641px) {
    .fourth-product-img img, .fifth-product-img img{
        width: 100%;
        height: auto;
    }
}

.first-product-img {
    flex-grow: 5;
    transition: 0.5s;
}

.first-product-img:hover {
    flex-grow: 12;
}

.second-product-img {
    flex-grow: 1;
    transition: 0.5s;
}

.second-product-img:hover {
    flex-grow: 3;
}

.third-product-img {
    flex-grow: 1;
    transition: 0.5s;
}

.third-product-img:hover {
    flex-grow: 3;
}

.fourth-product-img {
    flex-grow: 4;
    transition: 0.5s;
}

.fourth-product-img:hover {
    flex-grow: 5;
}

.fifth-product-img {
    flex-grow: 4;
    transition: 0.5s;
}

.fifth-product-img:hover {
    flex-grow: 5;
}

@media(max-width: 855px) {
    .first-product-img:hover {
        flex-grow: 5;
    }
    .second-product-img:hover {
        flex-grow: 1;
    }
    .third-product-img:hover {
        flex-grow: 1;
    }
    .fourth-product-img:hover {
        flex-grow: 4;
    }
    .fifth-product-img:hover {
        flex-grow: 4;
    }
}

@media(max-width: 725px) {
    .first-product-img {
        flex-grow: 5;
    }
    .second-product-img {
        flex-grow: 1;
    }
    .third-product-img {
        flex-grow: 1;
    }
    .fourth-product-img {
        flex-grow: 4;

    }
    .fifth-product-img {
        flex-grow: 4;
    }
    .product-img-container {
        height: 155px;
    }
}

.product-img {
    position: relative;
    height: 120%;
    transition: 0.5s;
}

@media(max-width: 640px) {
    .product-img-container {
        margin: 10px 35px 10px 35px;
        width: 550px;
        height: auto;
    }
    .product-img {
        width: 100%;
        height: 100%;
    }
}

.flying-inscription {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    color: white;
    background: black;
    opacity: 0;
}

.flying-inscription-text {
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.flying-inscription-text-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}



/*====================== product section end ===================*/

/*====================== intro section start ===================*/

.intro-section {
    width: 100%;
}

.intro {
    width: 100%;
    height: 100%;

    background: url(../img/intro-background.jpg);
}

.intro-inner {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    height: 100%;
}


/*====================== intro section end ===================*/

/*====================== features section start ===================*/

.features-section {
    width: 100%;
}

.features {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px 0;
}

.features-container {
    display: flex;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

}

.feature-block {
    height: 184px;
    width: 285px;
    background: white;
    padding: 0 15px 0 15px;
    display: flex;
    align-item: center;
    justify-content: center;
    transition: 0.5s;
}

.feature-content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feature-ico {
    margin: 0 0 20px 0;
    opacity: 1;
    transition: 0.2s;
}

.feature-ico:hover {
    opacity: 0.5;
}

.feature-content-box h6 {
    font-size: 16px;
}

.feature-helper-block {
    display: flex;
    transition: 0.5s;
}

@media(max-width: 1140px) {
    .feature-block {
        height: 154px;
        width: 230px;
    }
}

@media(max-width: 960px) {
    .feature-helper-block {
        display: block;
    }
    .feature-block {
        height: 184px;
        width: 285px;
    }
}

@media(max-width: 590px) {
    .feature-helper-block {
        display: block;
    }
    .feature-block {
        height: 154px;
        width: 216.5px;
    }
}


/*====================== features section end ===================*/

/* ============== START SLIDER STYLE ===============*/


/* стили основного контейнера слайдера */
.slider {
    position: relative;
    overflow: hidden;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.comment-article-slider {
    position: relative;
    overflow: hidden;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* стили для обёртки, в которой заключены слайды */
.slider__wrapper {
  position: relative;
  overflow: hidden;
}

/* стили для контейнера слайдов */
.slider__items {
  display: flex;
  transition: transform 0.6s ease;
}

/* стили для слайдов */
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}

/* стили для кнопок "вперед" и "назад" */
.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_prev {
  left: 0;
}

.slider__control_next {
  right: 0;
}

.slider__control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* стили для индикаторов */
.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0 15%;
  list-style: none;
}

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 4px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.slider__indicators li.active {
  background-color: #fff;
}

/* ============== END SLIDER STYLE ===============*/


/*======= START COMMENT SLIDER =======*/

.comment-article-slider {
    position: relative;
    overflow: hidden;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* стили для обёртки, в которой заключены слайды */
.slider__wrapper {
  position: relative;
  overflow: hidden;
}

/* стили для контейнера слайдов */
.slider__items {
  display: flex;
  transition: transform 0.6s ease;
}

/* стили для слайдов */
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}

/* стили для кнопок "вперед" и "назад" */
.comment-slider .slider__control {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_prev {
  left: 0;
}

.slider__control_next {
  right: 0;
}

.slider__control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* стили для индикаторов */
.comment-slider .slider__indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: none;
  justify-content: center;
  padding-left: 0;
  margin: 0 15%;
  list-style: none;
}

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 4px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.slider__indicators li.active {
  background-color: #fff;
}

/*======= END COMMENT SLIDER =======*/





/*-=-=-=-=-=-=-=-= START footer =-=-=-=-=-=-=-=-*/

footer {
    bottom: 0;
    position: relative;
    min-height: 476px;
    background: #222222;
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 24px;
    padding: 100px 0;
    transition: all 0.5s;
}

.footer-container {
    display: flex;
    justify-content: center;
    transition: all 0.5s;
}

footer p {
    margin-bottom: 16px;
}

.footer-h6 {
    color: white;
    color: #fff;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 700;
}

.footer-instagram-photo-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 285px;
}

.footer-about-us {
    padding: 0 15px;
}

.footer-about-us p {
    width: 255px;
}

.footer-instagram-photo {
    width: 58px;
    height: 58px;
    margin: 5px;
}

.footer-newsletter {
    width: 280px;
    padding: 0 15px;
}

.footer-input {
    height: 38px;
    background: white;
    width: calc(100% - 38px);
    border: none;
    padding: 6px 20px;
}

.footer-input::placeholder {
    color: #797979;
}

.footer-form {
    display: flex;
    height: 38px;
}

.footer-newsletter button {
    width: 38px;
    height: 38px;
    padding: 6px 12px;
    border: none;
    background: #ffba00;
    color: white;
    transition: 0.3s;
    opacity: 1;
}

.footer-newsletter button:active {
    opacity: 0.5;
}

.footer-instagram-feed {
    width: 315px;
    padding: 0 15px;
}

.footer-follow-us {
    width: 190px;
    padding: 0 15px;
}

.follow-us-container {
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.follow-us-container i {
    color: white;
    transition: all 0.5s;
}

.follow-us-container i:hover {
    color: #ffba00;
}




/*-=-=-=-=-=-=-=-= END footer =-=-=-=-=-=-=-=-*/




/*-=-=-=-=-=-=-=-= START forum file =-=-=-=-=-=-=-=-*/

/*========= START forum intro =========*/

.forum-intro-section {
    min-height: 376px;
}

.forum {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: url(../img/intro-background.jpg);
}

.forum-intro {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1100px;
}

.forum-intro-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.forum-intro-textbox {
    text-align: right;
    margin: 50px 30px 0 40%;
    transition: all 0.5s;
}

@media(max-width: 800px) {
    .forum-intro-textbox {
        margin: 50px 0 0 0;
    }
}

.forum-intro-flexbox h1 {
    line-height: 0.7em;
    font-weight: 900;
    color: white;
    font-size: 7em;
}

.forum-intro-flexbox p {
    line-height: 1em;
    font-family: 'Comfortaa', cursive;;
    font-weight: 500;
    color: white;
    font-size: 12px;
    margin-right: 5px;
}


/*========= END forum intro =========*/
/*========= START forum body =========*/

.forum-body-section {
    min-height: 100vh;
    padding: 80px 0 0 0;
    transition: all 0.5s;
}

.forum-body {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    height: 100%;
}

.forum-body-inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.right-forum-side {
    min-height: 100vh;
    width: 760px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
}

.left-forum-side {
    width: 350px;
    padding: 30px;
    border: 1px solid #eeeeee;
    background: #fafaff;
    margin: 0 15px 0 15px;
    transition: all 0.5s;
}

/*========= START right-forum-sidebar =========*/

.right-forum-sidebar-unit {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    transition: all 0.5s;
}

.right-forum-sidebar-unit:last-child {
    margin-bottom: 70px;
}

.forum-unit-info {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 190px;
    padding: 30px 15px 0 15px;
    transition: all 0.5s;
}

.forum-unit-post {
    width: 570px;
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
}

.forum-unit-meta {
    list-style: none;
    padding: 0;
    transition: all 0.5s;
}

.forum-unit-meta li {
    margin: 0 0 10px 0;
    transition: all 0.5s;
}

.forum-unit-meta a {
    text-decoration: none;
    color: #777777;
    transition: 0.5s;
}

.forum-unit-meta a:hover {
    color: #ffba00;
}

.forum-unit-meta li:last-child {
    margin: 0 0 0 0;
}

.forum-unit-meta i {
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    padding-left: 15px;
    line-height: 20px;
    vertical-align: middle;
}

.forum-unit-post-img-background {
    position: relative;
    width: 100%;
    height: 272px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.forum-unit-post-img {
    position: relative;
    width: 100%;
}

.forum-unit-post-img-blurBackground {
    position: absolute;
    filter: blur(20px);
    width: 100%;
    height: 100%;
}

.forum-unit-post-img-blurBackground-box {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.forum-unit-about-post {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 25px 0 0 0;
    transition: all 0.5s;
}

.forum-unit-about-post h2 {
    font-size: 24px;
    font-weight: 700;
    transition: all 0.5s;
}

.forum-unit-tags {
    transition: all 0.5s;
    font-family: 'Inter', sans-serif;
}

.forum-unit-about-post p {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 24px;
    max-height: 72px;
    transition: all 0.5s;
}

.im-casefor-tags {
    display: none;
    flex-wrap: wrap;
    font-size: 12px;
    margin: 8px 0 0 0;
    transition: all 0.5s;
}

.im-casefor-post-info {
    display: none;
    justify-content: flex-end;
    margin-top: 8px;
    transition: all 0.5s;
}

.im-casefor-post-info span {
    margin: 0 20px 0 0;
}

.im-casefor-post-info a {
    transition: all 0.5s;
    text-decoration: none;
    color: #777777;
}

.im-casefor-post-info i {
    color: black;
    margin: 0 0 0 5px;
    font-weight: 600;
}

@media(max-width: 780px) {
    .im-casefor-tags {
        display: flex;
    }
    .im-casefor-tags .forum-unit-tags {
        display: block;
    }
    .forum-unit-tags {
        display: none;
    }
    .forum-unit-about-post p {
        margin-top: 4px;
    }
    .forum-unit-info {
        display: none;
    }
    .im-casefor-post-info {
        display: flex;
    }
    .forum-unit-post {
        width: 98%;
    }
}

.forum-unit-post-for-comment {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.forum-unit-post-vm-button {
    display: inline-block;
    padding: 2px 30px;
    line-height: 34px;
    height: 38px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: black;
    border: 1px solid #eeeeee;
    transition: 0.3s;
    text-decoration: none;
    margin-top: 30px;
}

.forum-unit-post-vm-button:hover {
    background: #ffba00;
    color: white;
}

.forum-unit-tags a {
    color: black;
    transition: 0.5s;
    text-decoration: none;
}

.forum-unit-tags a:hover {
    color: #ffba00;
}


/*========= END right-forum-sidebar =========*/

/*========= START left-forum-sidebar =========*/

.search-forums {
    display: flex;
    font-size: 16px;
    width: 100%;
    height: 38px;
    background: #ffba00;
/*    border-radius: 19px;*/
    padding: 6px 20px 6px 20px;
    color: white;
    margin-bottom: 30px;
}

.forums-input {
    width: calc(100% - 20px);
    padding: 0 5px 0 0;
    background: none;
    border: none;
    height: 100%;
    color: white;
}

.forums-input::placeholder {
    color: white;
    font-size: 14px;
}

.search-forums a {
    position: relative;
    top: 2px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 20px;
}

.forum-submit-button {
    background: none;
    border: none;
}

.hr {
    width: 100%;
    height: 1px;
    background: #eeeeee;
}

.todays-top-forum {
    margin: 30px 0;
    width: 100%;
}

.todays-top-forum h3 {
    width: 100%;
    height: 38px;
    color: white;
    background: #ffba00;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}

.popular-posts-block {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.img-box-popular-post {
    display: flex;
    position: relative;
    width: 100px;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.popular-post-img {
    position: relative;
    width: 100%;
}

.popular-box {
    display: flex;
    justify-content: space-between;
}

.popular-post-img-blurBackground {
    position: absolute;
    filter: blur(5px);
    width: 100px;
    height: 60px;
}

.popular-post-img-blurBackground-box {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.popular-post {
    display: flex;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
}

.popular-post:last-child {
    margin-bottom: 0;
}

.popular-post h4 {
    margin-bottom: 4px;
    font-weight: 600;
    line-height: 1.2;
}

.popular-post p {
    font-size: 12px;
}

.smthg-about-popular-post {
    padding: 0 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.smthg-about-popular-post-heading-box {
    width: 173px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 30px;
    transition: all 0.5s;
}

.add {
    position: relative;
    margin: 30px 0;
    width: 100%;
}

.add img {
    position: relative;
    width: 100%;
}

.todays-top-tag {
    width: 100%;
    margin: 30px 0 0 0;
}

.todays-top-tag h3 {
    width: 100%;
    height: 38px;
    color: white;
    background: #ffba00;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}

.popular-tags-block {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.popular-tag {
    line-height: 24px;
    margin: 0 8px 8px 0;
    background: white;
    border: 1px solid #eeeeee;
    padding: 0 13px;
    color: black;
    transition: 0.3s;
    font-family: 'Comfortaa', cursive;;
    font-size: 12px;
}

.popular-tag:hover {
    background: #ffba00;
    color: white;
}

/*========= END left-forum-sidebar =========*/

.forum-da-container {
    display: none;
}

.popular-tags-block h3{
    height: 26px;
    line-height: 26px;
    color: white;
    background: #ffba00;
    text-align: center;
    padding: 0 10px;
    font-size: 16px;
    margin: 0 8px 8px 0;
}

.top-tag-da {
    margin: 0 auto;
    max-width: 600px;
    margin: 8px auto 30px auto;
}

.pages {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 100px 0;
}

.im-numberof-page {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 33px;
    color: #8a8a8a;
    text-align: center;
    background: white;
    text-decoration: none;
    transition: all 0.5s ease-in;
}

.im-numberof-page.active {
    background: #ffba00;
    color: white;
}

.im-numberof-page:hover {
    background: #ffba00;
    color: white;
}

.previous-page {
    margin-right: 20px;
}

.next-page {
    margin-left: 20px;
}

.im-numberof-page.previous-page.inactive:hover, .im-numberof-page.next-page.inactive:hover {
    background: white;
    color: #8a8a8a;
}

.forum-da-container-popular-post {
    display: none;
    width: 80%;
    min-width: 350px;
    padding: 30px;
    border: 1px solid #eeeeee;
    background: #fafaff;
    margin: 0 auto 50px auto;
    transition: all 0.5s;
}

@media(max-width: 990px) {
    .forum-da-container-popular-post {
        display: block;
    }
}


/*========= END forum body =========*/

/*-=-=-=-=-=-=-=-= END forum file =-=-=-=-=-=-=-=-*/




/*-=-=-=-=-=-=-=-= START login file =-=-=-=-=-=-=-=-*/

/*========= START login body =========*/

.login-section {
    margin: 150px 0 100px 0;
    width: 100%;
}

.login {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.login-inner {
    display: flex;
    position: relative;
    margin: 0 15px;
    transition: all 0.5s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-img {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.login-img-container {
    position: relative;
    width: 50%;
    transition: all 0.5s;
}

.login-img-panel {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-img-panel h2 {
    color: white;
}

.login-img-panel a {
    width: 180px;
    text-decoration: none;
    margin: 15px 0;
    height: 38px;
    line-height: 38px;
    font-size: 1rem;
    font-weight: 600;
    font-weight: 500;
    color: white;
    background: #ffba00;
    transition: all 0.3s;
    text-align: center;
    font-family: 'Comfortaa';
    cursor: pointer;
}

.login-img-panel a:hover {
    background: #ff9520;
}

.login-img-panel a:active {
    filter: brightness(70%);
}

.login-area {
    position: relative;
    width: 50%;
    transition: all 0.5s;
}

.login-form-container {
    width: 385px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.login-form-container h2 {
    margin: 0 0 30px 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-input {
    height: 54px;
    padding: 6px 12px;
    font-size: 1rem;
    font-family: Arial;
    font-weight: 500;
    color: #495057;
    border: none;
    border-bottom: 1px solid #cccccc;
    margin: 0 0 16px 0;
}

.login-button {
    width: 100%;
    line-height: 38px;
    height: 38px;
    border: none;
    font-size: 1rem;
    font-family: Arial;
    font-weight: 500;
    color: white;
    background: #ffba00;
    transition: all 0.3s;
    font-family: 'Comfortaa';
    cursor: pointer;
}

.login-button:hover {
    background: #ff9520;
}

.login-button:active {
    filter: brightness(70%);
}

.login-form-container a {
    margin: 20px 0 0 0;
    cursor: pointer;
    text-decoration: none;
}

.login-checkbox {
    display: inline-block;
}

.login-checkbox-label {
    font-size: 14px;
    margin: 5px 0;
}

.login-checkbox-container {
    margin: 15px 0 30px 0;
}


/*========= END login body =========*/

/*-=-=-=-=-=-=-=-= END login file =-=-=-=-=-=-=-=-*/


/*-=-=-=-=-=-=-=-= START loader =-=-=-=-=-=-=-=-*/


.loader-body{
    z-index: 10000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 100%;
}

@keyframes loader {
  0% {transform:rotate(-45deg)}
  50%{transform:rotate(-135deg)}
  100%{transform:rotate(-225deg)}}
@keyframes span-1 {
  0% {transform:translate(0);}
  50%{transform:translate(-30px, 0);border-color:black}
  100%{transform:translate(0);}}
@keyframes span-2 {
  0%{transform:translate(0);}
  50%{transform:translate(30px, 0);border-color:#ffba00}
  100%{transform:translate(0);}}
@keyframes span-3 {
  0%{transform:translate(0);}
  50%{transform:translate(0, -30px);border-color:black}
  100%{transform:translate(0);}}
@keyframes span-4 {
  0%{transform:translate(0);}
  50%{transform:translate(0, 30px);border-color:black}
  100%{transform:translate(0);}}
.loader {
  width: 50px;
  height: 50px;
  position: relative;
  animation: loader 2s infinite ease-in-out;
}
.loader span {
  z-index: 1;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  border: 4px solid #ffba00;
}
.loader .yellow-span {
  z-index: 2;
  border: 8px solid #ffba00;
}
.loader span:nth-child(1) {
  animation: span-1 2s ease-in-out infinite;
}
.loader span:nth-child(2) {
  animation: span-2 2s ease-in-out infinite;
}
.loader span:nth-child(3) {
  animation: span-3 2s ease-in-out infinite;
}
.loader span:nth-child(4) {
  animation: span-4 2s ease-in-out infinite;
}

.loaded_hiding .loader-body {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .loader-body {
  display: none;
}

/*-=-=-=-=-=-=-=-= END loader =-=-=-=-=-=-=-=-*/


/*-=-=-=-=-=-=-=-= START registration file =-=-=-=-=-=-=-=-*/

/*========= START registration body =========*/

.registration-section {
    margin: 200px 0 100px 0;
    width: 100%;
}

.registration {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.registration-inner {
    display: flex;
    position: relative;
    margin: 0 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.registration-img {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.registration-img-container {
    position: relative;
    width: 50%;
}

.registration-img-panel {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}

.registration-img-panel h2 {
    color: white;
}

.registration-img-panel a {
    width: 180px;
    text-decoration: none;
    margin: 15px 0;
    height: 38px;
    line-height: 38px;
    font-size: 1rem;
    font-weight: 600;
    font-weight: 500;
    color: white;
    background: #ffba00;
    transition: all 0.3s;
    text-align: center;
    font-family: 'Comfortaa';
    cursor: pointer;
}

.registration-img-panel a:hover {
    background: #ff9520;
}

.registration-img-panel a:active {
    filter: brightness(70%);
}

.registration-area {
    width: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)
}

.registration-form-container {
    width: 385px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.registration-form-container h2 {
    margin: 0 0 30px 0;
}

.registration-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.registration-input {
    height: 38px;
    padding: 6px 12px;
    font-size: 1rem;
    font-family: Arial;
    font-weight: 500;
    color: #495057;
    border: none;
    border-bottom: 1px solid #cccccc;
    margin: 0 0 16px 0;
}

.registration-error {
    color: red;
    font-size: 13px;
}

.registration-button {
    margin-top: 10px;
    width: 100%;
    line-height: 38px;
    height: 38px;
    border: none;
    font-size: 1rem;
    font-family: Arial;
    font-weight: 500;
    color: white;
    background: #ffba00;
    transition: all 0.3s;
    font-family: 'Comfortaa';
    cursor: pointer;
}

.registration-button:hover {
    background: #ff9520;
}

.registration-button:active {
    filter: brightness(70%);
}

.registration-form-container a {
    margin: 20px 0 0 0;
    cursor: pointer;
    text-decoration: none;
}

@media(max-width: 1000px) {
    .login-inner {
        flex-direction: column;
        margin: 0 30px;
    }
    .registration-inner {
        flex-direction: column-reverse;
        margin: 0 30px;
    }
    .login-area, .login-img-container,
    .registration-area, .registration-img-container {
        width: 100%;
    }

    .login-area, .registration-area {
        padding: 100px 0;
    }
}

/*========= END registration body =========*/

/*-=-=-=-=-=-=-=-= END registration file =-=-=-=-=-=-=-=-*/


@media(max-width: 1300px) {
    .header-inner {
        max-width: 1300px;
        width: 100%;
    }
    .sticky-wrapper {
        top: 0;
    }
}

@media(max-width: 1090px) {
    .footer-container {
        display: flex;
        align-items: center;
    }
    footer {
        flex-direction: column;
    }
    .footer-about-us {
        width: 285px;
        margin: 15px;
    }
    .footer-newsletter {
        width: 285px;
        margin: 15px;
    }
    .footer-instagram-feed {
        width: 285px;
        margin: 15px;
    }
    .footer-follow-us {
        width: 285px;
        margin: 15px;
    }
}

@media(max-width: 650px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-about-us {
        text-align: center;
    }
    .footer-newsletter {
        text-align: center;
    }
    .footer-instagram-feed {
        text-align: center;
    }
    .footer-follow-us {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-instagram-photo {
        width: 52px;
        height: 52px;
    }
    .footer-instagram-photo-box {
        width: 255px;
    }
}

@media(max-width: 990px) {
    .nav-list {
        display: none;
    }
    .hamburger-button {
        display: block;
    }
}

@media(max-width: 992px) {
    .nav-list-hamburger {
        display: none;
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
    .right-forum-side {
        width: 660px;
    }
    .forum-unit-post {
        width: 470px;
    }
    .forum-unit-post-img-background {
        height: 222px;
    }
    .forum-unit-about-post p {
        line-height: 20px;
    }
    .forum-unit-about-post {
        padding: 15px 0 0 0;
    }
    .forum-unit-meta li {
        margin: 0 0 4px 0;
    }
    .forum-unit-info{
        padding: 20px 10px 0 10px;
    }
    .left-forum-side {
        width: 300px;
        padding: 15px;
    }
    .forum-unit-about-post h2 {
        font-size: 20px;
    }
    .smthg-about-popular-post-heading-box {
        width: 153px;
    }
    .right-forum-sidebar-unit {
        margin-bottom: 50px;
    }
}

@media(max-width: 990px) {
    .left-forum-side {
        display: none;
    }
    .forum-body-section {
        padding: 30px 0 0 0;
    }
    .search-forums {
        max-width: 600px;
        margin: 0 auto;
    }
    .popular-tags-block {
        margin: 0;
        max-height: 238px;
        overflow: hidden;
    }
    .forum-da-container {
        display: block;;
    }
}