{% extends 'home.html' %}

{% load static %}

{% block title %} Create article {% endblock %}

{% block content %}
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<h3>Popular Posts</h3>
{% for article in my_articles %}
<div class="img-box-popular-post">
    <img class="popular-post-img-blurBackground" src="">
    <img class="popular-post-img blur-img-background" src="{{article.image.url}}" alt="">
</div>
<h4>{{article.heading}}</h4>
<p>{{article.text}}</p>
{% endfor %}

<form method="post" action="" class = "login-form" enctype="multipart/form-data">
    {% csrf_token %}

    <p>Title:{{article_form.heading}}</p>
    <p>Text:{{article_form.text}}</p>
    <p>{{article_form.image.label}}: {{article_form.image}}</p>

    <input type="submit" value="Add article" class = "login-button"/>
    <input type="hidden" name="next" value="" />
</form>



{% endblock %}